<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My trips</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-button fill="clear" (click)="createTrip()">Create trip</ion-button>
        <ion-button fill="clear" (click)="logout()">Log out</ion-button>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-list>
    <ion-item *ngFor="let trip of trips" [routerLink]="trip.id">
      <ion-card class="w-100">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-card-header>
                <ion-card-title>{{ trip.title }}</ion-card-title>
                <ion-card-subtitle>
                  {{ trip.startDestination.date | date: 'dd/MM/yyyy' }} ({{trip.startDestination.name}}) 
                  - 
                  {{ trip.finalDestination.date | date: 'dd/MM/yyyy' }} ({{trip.finalDestination.name}})
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Rs. {{ trip.budget }} per person</ion-label>
              </ion-card-content>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createTrip()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
